<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="blankImagePath" value="~\blank.png" />
    
    <!-- 二维地图 -->
    <add key="tilePath" value="d:\doc\项目\重庆\四维推演\skyline\cq_esri_map\Layers\_alllayers\" />
    <add key="fileExt" value="png" />
    <!--瓦片类型：gmap  esri-->
    <add key="tileType" value="esri" />

    <!-- gmap影像 -->
    <add key="tilePath1" value="d:\doc\项目\重庆\四维推演\skyline\gmap_data\" />
    <add key="fileExt1" value="jpg" />
    <!--瓦片类型：gmap  esri-->
    <add key="tileType1" value="gmap" />

    <!-- 重庆水利地图 -->
    <add key="tilePath2" value="d:\doc\项目\重庆\四维推演\skyline\water_baseMap\" />
    <add key="fileExt2" value="png" />
    <!--瓦片类型：gmap  esri-->
    <add key="tileType2" value="gmap" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
